{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div id="main">
        <h1><a href='./index'> EasyMed </a></h1>
        <h3>Upload your diagnosis in a supported file format.</h3>
        {% if error %}
        	<h5 class=error><strong>Error:</strong> {{error}}</h5>
       	{% endif %}
       	<div id="form">
	        <form method=post enctype = multipart/form-data>
	        	<input type=file name=file  placeholder="Drag & Drop">
	       		<input type=submit value=Analize>
	       	</form>
		</div>
	    <h4>We support PDF, Plain Text, Jpeg or PNG</h4> 
	</div>
    </body>
</html>

{% endblock %}
